body{
 	margin: 0;
 	padding: 0;
 	
 }



.page {
	width: 800px;
/*	background-color: red;*/
	margin: 0 auto;
	border: 1px solid grey;
	

}

.slika {
/*position: relative;
margin: 0;
bottom: 0;*/
position: relative;
height: 470px;

}

.tb {
	width: 800px;
	height: 150px;
	float: left;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	bottom: 0;
}

.naslov {

margin: 0; 
font-size: : 90px;
color: white;



}
.slikal {
width: 800px;
margin: 0;
height: 470px;
bottom: 0;

}
.paragraf{
	background-color: #222;
	margin: 0;
	padding: 30px 10px;
	color: white;
	font-family: Ariel;
	line-height: 30px;
	font-height: 30px;
	font-size: 18px;



	

}
.textovi {

	font-weight: bold;
	font-family: Ariel;
	margin: 20px 0 0 20px;
	line-height: 24px;

}

.zavrsi {
	margin: 20px;

}